@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: blue;
  height: 100vh;
}

.TimeBox {
  background: transparent linear-gradient(180deg, #ffffff9c 0%, #ffffff4f 100%)
    0% 0% no-repeat padding-box;
  border: 1px solid #ffffff1a;
  border-radius: 32px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
